<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrivacyAccessedAPITypes</key>
    <array>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryCamera</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <!-- Choose the reason code that best fits your use case. C56D.1 is for scanning documents. -->
                <string>C56D.1</string> 
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryMicrophone</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <!-- 3B3D.1 is for user-initiated audio recording. -->
                <string>3B3D.1</string> 
            </array>
        </dict>
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategoryPhotoLibrary</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <!-- C617.1 is for selecting photos/videos from the library. -->
                <string>C617.1</string>
            </array>
        </dict>
    </array>
</dict>
</plist>